header {
    background-color: #ff6db6; /* Deeper pink for the header */
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: fixed; /* Fix the header at the top */
    width: 100%; /* Ensure it spans the full width */
    top: 0; /* Position it at the top */
    z-index: 1000; /* Ensure it stays above other content */
}

header h1 {
    color: white; /* Change the color of the Marketplace text to white */
}
