/* Ajustes gerais */
#root {
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    background-color: #f8d5e1; /* Soft pink background */
    overflow-x: hidden; /* Evita o overflow horizontal */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms, transform 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #ff6db6); /* Soft pink on hover */
    transform: scale(1.1); /* Added scale effect on hover */
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

/* Estilo para o corpo do site */
.card {
    padding: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 100%; /* Garantir que o card não ultrapasse a tela */
    box-sizing: border-box; /* Adicionar box-sizing para considerar padding nas dimensões */
}

/* Links e texto */
.read-the-docs {
    color: #ff6db6; /* Soft pink */
}

/* Estilos para os produtos */
.produto-item {
    border: 1px solid #f0f0f0;
    color: #000000;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px #f0f0f0;
    background-color: #fff;
    max-width: 100%; /* Ajusta para que o produto não ultrapasse a tela */
    box-sizing: border-box;
}

.produto-item > img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.container-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.container-produtos h1 {
    font-size: 25px;
    color: #ff68b3; /* Soft pink */
}

/* Ajustes para upload de imagem */
.imagem-previa-upload {
    width: 300px;
    height: auto;
    border: 2px dashed #ff6db6; /* Pink border for upload */
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    margin: 0 auto; /* Centraliza a imagem */
}

